* {
  margin: 0;
  padding: 0;
  --primary_btn: rgba(0, 0, 0, 0);
}

a {
  color: white;
  text-decoration: none;
  margin: 0;
}

/* navbar */
.navbarr {
  position: absolute;
  width: 100%;
  z-index: 9999;
  font-family: "inter", sans-serif;
  color: white;
  font-weight: bold;
}
.top {
  padding: 10px;
  border-bottom: 1px solid white;
  background-color: transparent;
}
.top .socialmedia {
  display: flex;
  justify-content: space-around;
  width: 10%;
}
.bottom {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0);
}

.bottom .button {
  margin-top: 1%;
  padding: 3px 10px;
  border-radius: 6px;
  background-color: #1ea802;
  color: white;
  /* box-shadow: 2px 2px 5px black; */
  border: none;
  height: 30px;
}

.navlist {
  padding: 0;
  margin: 0;
  margin-top: 1%;
  display: flex;
  justify-content: space-around;
  width: 30%;
  list-style-type: none;
}

/* hero */
.hero {
  background-image: url("../image/roof1.jpg");
  background-position: center;
  background-size: cover;
  height: 100dvh;
  position: relative;
}

.hero .description {
  position: absolute;
  top: 35%;
  color: white;
  left: 10%;
}

.hero .description h1 {
  font-family: "Poppins", sans-serif;
  line-height: 130%;
  margin: 0;
  font-size: 55px;
  font-weight: 600;
  text-shadow: 3px 3px 5px black;
}
.hero .description p,
.button {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.hero .description .button {
  margin-top: 2%;
  padding: 10px;
  color: white;
  border-radius: 6px;
  background-color: #1ea802;
  box-shadow: 2px 2px 5px black;
}

/* about us */
.aboutus {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  height: 70dvh;
  display: flex;
  /* background-color: black; */
  justify-content: space-around;
  padding: 0 8%;
}

/* top */
.aboutus .image-stack {
  position: relative;
  height: 70%;
  width: 50%;
}

.aboutus .image-stack .img {
  position: absolute;
  width: 70%;
  border-radius: 10px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

/* gambar atas */
.aboutus .image-stack .img-1 {
  top: 0;
  left: 0;
  z-index: 1;
}

/* gambar bawah */
.aboutus .image-stack .img-2 {
  top: 160px;
  left: 120px;
  z-index: 2;
}

/* bottom */
.aboutus .description {
  width: 50%;
  height: 70%;
}

.aboutus .description .top,
.bottom {
  padding: 0;
  margin: 0;
}

.aboutus .description .bottom {
  display: none;
}

.aboutus .description .bottom.active {
  display: inline-block;
}

.aboutus .description .button {
  padding: 6px 12px;
  color: white;
  border-radius: 6px;
  background-color: #027ca8;
}
