* {
  margin: 0;
  padding: 0;
  --primary_btn: rgba(0, 0, 0, 0);
}

a {
  color: white;
  text-decoration: none;
  margin: 0;
}

/* navbar */
.navbarr {
  position: absolute;
  width: 100%;
  z-index: 9999;
  font-family: "inter", sans-serif;
  color: white;
  font-weight: bold;
}
.top {
  padding: 10px;
  border-bottom: 1px solid white;
  background-color: transparent;
}
.top .socialmedia {
  display: flex;
  justify-content: space-around;
  width: 10%;
}
.bottom {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0);
}

.bottom .button {
  margin-top: 1%;
  padding: 3px 10px;
  border-radius: 6px;
  background-color: #1ea802;
  color: white;
  /* box-shadow: 2px 2px 5px black; */
  border: none;
  height: 30px;
}

.navlist {
  padding: 0;
  margin: 0;
  margin-top: 1%;
  display: flex;
  justify-content: space-around;
  width: 30%;
  list-style-type: none;
}

/* hero */
.hero {
  background-image: url("../image/roof1.jpg");
  background-position: center;
  background-size: cover;
  height: 100dvh;
  position: relative;
}

.hero .description {
  position: absolute;
  top: 35%;
  color: white;
  left: 10%;
}

.hero .description h1 {
  font-family: "Poppins", sans-serif;
  line-height: 130%;
  margin: 0;
  font-size: 55px;
  font-weight: 600;
  text-shadow: 3px 3px 5px black;
}
.hero .description p,
.button {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.hero .description .button {
  margin-top: 2%;
  padding: 10px;
  color: white;
  border-radius: 6px;
  background-color: #1ea802;
  box-shadow: 2px 2px 5px black;
}

/* about us */
.aboutus {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  height: 70dvh;
  display: flex;
  /* background-color: black; */
  justify-content: space-around;
  padding: 0 8%;
}

/* top */
.aboutus .image-stack {
  position: relative;
  height: 70%;
  width: 50%;
}

.aboutus .image-stack .img {
  position: absolute;
  width: 70%;
  border-radius: 10px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

/* gambar atas */
.aboutus .image-stack .img-1 {
  top: 0;
  left: 0;
  z-index: 1;
}

/* gambar bawah */
.aboutus .image-stack .img-2 {
  top: 160px;
  left: 120px;
  z-index: 2;
}

/* bottom */
.aboutus .description {
  width: 50%;
  height: 70%;
}

.aboutus .description .bottom {
  display: none;
}

.aboutus .description .bottom.active {
  display: inline-block;
}

.aboutus .description .button {
  padding: 6px 12px;
  margin-top: 3%;
  color: white;
  border-radius: 6px;
  background-color: #027ca8;
  border: none;
}

/* layanan */
.layanan .sectionporto {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  position: relative;
  margin: -10% auto 0;
  max-width: 1200px;
}

.layanan .sectionporto .section {
  text-align: center;
  width: 200px;
  padding: 1%;
}

.layanan .sectionporto .section > h4 {
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
}

.layanan .sectionporto .section:nth-child(1) {
  background-color: #027ca8;
  color: white;
}
.layanan .sectionporto .section:nth-child(2) {
  background-color: #000000;
  color: white;
}
.layanan .sectionporto .section:nth-child(3) {
  background-color: #f5f5f5;
  color: black;
}
.layanan .sectionporto .section:nth-child(4) {
  background-color: #027ca8;
  color: white;
}

.layanan .jenislayanan {
  background-image: url("../image/bg-layanan4.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 5%;
  width: 100%;
  padding-top: 5%;
  text-align: center;
}

.layanan .jenislayanan h4 {
  font-weight: bold;
  font-family: "poppins", sans-serif;
  font-size: 32px;
  margin-top: 2%;
}

.layanan .jenislayanan h1 {
  font-weight: bold;
  font-family: "poppins", sans-serif;
}

/* jenis layanan */
/* membrane */
.layanan .membrane {
  margin-top: 3%;
}

.layanan .membrane .kategorimembrane {
  margin-top: 3%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

/* injeksi */
.layanan .injeksi {
  margin-top: 3%;
}

.layanan .injeksi .kategoriinjeksi {
  margin-top: 3%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

/* epoxy */
.layanan .epoxy {
  margin-top: 3%;
}

.layanan .epoxy .kategoriepoxy {
  margin-top: 3%;
  margin-left: 3%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

/* coating */
/* .layanan .coating {
  margin-top: 3%;
}

.layanan .coating .kategoricoating {
  margin-top: 3%;
  margin-left: 3%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
} */

/* Alasan */
.alasan {
  /* max-width: 1200px; */
  width: 100%;
  padding-top: 3rem;
  gap: 5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #ebebebee;
  padding-bottom: 5%;
}

.alasan .wrapperlist {
  max-width: 1000px;
  gap: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.alasan .wrapperlist .list {
  max-width: 15rem;
  padding: 1rem;
  text-align: center;
  background-color: white;
}

.alasan .wrapperlist .list h5 {
  margin-bottom: 10px;
  color: #4773af;
  font-size: clamp(18px, 1.1vw, 20px);
}

/* review */
.review .text {
  text-align: center;
}

.review {
  /* max-width: 1200px; */
  width: 100%;
  padding-top: 3rem;
  gap: 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #ebebebee;
  padding-bottom: 5%;
}

.review .wrapperlist {
  max-width: 1200px;
  gap: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.review .wrapperlist .list {
  max-width: 20rem;
  padding: 1rem;
  text-align: center;
  background-color: white;
}

.review .wrapperlist .list .top img {
  border-radius: 50%;
}

.review .wrapperlist .list h5 {
  margin-bottom: 10px;
  color: #4773af;
  font-size: clamp(18px, 1.1vw, 20px);
}

/* footer */
.footer {
  padding: 2rem;
  background-color: #6c7e8e;
  color: white;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer .left {
  max-width: 25rem;
}

.footer .left .listleft {
  gap: 1rem;
  display: flex;
  flex-direction: row;
}

.footer .right {
  max-width: 25rem;
}
.footer .right p {
  margin: 0;
}
